name: app_template_workspace
description: Flutter workspace for app_template monorepo
publish_to: 'none'

environment:
  sdk: '>=3.5.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  build_runner: ^2.4.13

flutter:
  uses-material-design: true

workspace:
  - app
  - packages/core
  - packages/feature
